@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
  will-change: transform;
} 